In [ ]:
#List of high schools

In [1]:
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wrigth High School"]

In [ ]:
import pandas as pd